<table>
  <tr>
    <th>Item</th><th>Price</th><th>Quantity</th>
  </tr>

  <% products.each do |product| %>
  <tr>
    <td><%= product.name %></td><td><%= product.price %></td><td></td>
  </tr>
  <% end %>
</table>
