<table>
  <tr>
    <th>Item</th><th>Price</th><th>Quantity</th><th></th>
  </tr>

  <% products.each do |product| %>
  <tr>
    <td><%= link_to "product.name", product_url(product.id) %></td><td><%= product.formatted_price %></td><td></td><td></td>
  </tr>
  <% end %>
</table>
